<h1>Editor de notícias</h1>
<div class="conteudo">
  <section class="conteudo-item editor">

    <form [formGroup]="form">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" name="titulo" id="titulo" formControlName="titulo" required>
      </div>
  
      <div class="form-group mt-4">
        <quill-editor class="content-editor" [placeholder]="''" [modules]="quillConfiguration" formControlName="corpo"
          [styles]="{'min-height':'200px', 'background-color': '#fff'}">
        </quill-editor>
      </div>
    </form>

  </section>

  <section class="conteudo-item viewer">
    <h2>{{form.controls['titulo'].value}}</h2>
    <quill-view [content]="form.controls['corpo'].value"></quill-view>
  </section>
</div>
<br>
<div>
  {{form.controls['corpo'].value | json}}
</div>